node_modules
.DS_Store
tmp/

# Builds
dist
build
out
.turbo
.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env
.env
.env.*.local

# Tauri / Rust
apps/desktop/src-tauri/target
apps/desktop/src-tauri/.tauri
